/* Sansita Swashed Font 
font-family: 'Sansita Swashed', cursive;   
*/
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

/* Texturina Font 
font-family: 'Texturina', serif;     
 */
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');

/* Mukta Font
font-family: 'Mukta', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');