@keyframes fade-in-div{

    from{
        display: none;
        opacity: 0;
    }    

    to {
        display: block !important;
        opacity: 1 !important;
    }

};

@-moz-keyframes fade-in-div{

    from{
        display: none;
        opacity: 0;
    }    

    to {
        display: flex !important;
        opacity: 1 !important;
    }

};

@keyframes fade-out-div{

    from{
        display: flex !important;
        opacity: 1 !important;
    }    

    to {
        display: none !important;
        opacity: 0 !important;
    }

};

@-moz-keyframes fade-out-div{

    from{
        display: flex !important;
        opacity: 1 !important;
    }    

    to {
        display: none !important;
        opacity: 0 !important;
    }

};

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }