<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="css/keyframes.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/reset.css" type="text/css">
        <title>SQLi Detector | Home</title>
    </head>


    <body>


        <div class="parent-container">

            <div class="container-1">

        
                <div id="topmost">

                    <div class="logo-area-div">

                    </div>

                    <div class="logotext-div">
                        <h1>
                            <span id="logotext1" class="logotext">SQLi</span>
                            <span id="logotext2" class="logotext">Detector</span>
                        </h1>
                        <br class="logotext-and-version-divider"/>
                        <h3 class="version-text">( version 1.0 )</h3>
                    </div>

                    <div class="desktop-options-menu">

                    </div>

                    <div class="mobile-options-menu">

                    </div>

                </div>

            </div>


            <div class="container-2">

                <div class = "main-control">
                    <div class="db-selector-div">
                        <h2>Please Choose the Database System You Use</h2>
                        <div>
                            <span class="db-type-option" id="mysql-option">MySQL Database <i class="fa fa-check"></i> </span>
                            <span class="db-type-option" id="postgresql-option">PostgreSQL Database <i class="fa fa-check"></i> </span>
                        </div>
                    </div>
                    <div class="query-input-div">

                    </div>
                    <div class="submit-query-div"></div>
                </div>

            </div>

        </div>




        <script src="bundle.js"></script>
    </body>
